/**
 * Questo file è parte del plugin WooCommerce v3.x di Fattura24
 * Autore: Fattura24.com <info@fattura24.com> 
 *
 * Foglio di stile utilizzato lato admin in caso di aggiornamenti critici del plugin
 * incluso in src/admin_scripts.php - schermata plugins
*/

.f24-major-update-warning {
    margin-block-end: 5px;
    max-width: 1000px;
    display: flex;
  }
  .f24-major-update-warning__separator {
    margin: 15px -12px;
  }
  .f24-major-update-warning__icon {
    font-size: 17px;
    margin-inline-end: 9px;
    margin-inline-start: 2px;
  }
  .f24-major-update-warning__title {
    font-weight: 600;
    margin-block-end: 10px;
  }
  .f24-major-update-warning + p {
    display: none;
  }
  
  .notice-success .f24-major-update-warning__separator {
    border: 1px solid #46b450;
  }
  .notice-success .f24-major-update-warning__icon {
    color: #79ba49;
  }
  
  .notice-warning .f24-major-update-warning__separator {
    border: 1px solid #ffb900;
  }
  .notice-warning .f24-major-update-warning__icon {
    color: #f56e28;
  }