/**
* Foglio di stile personalizzato con cui personalizzo lo stile del popup di disattivazione
* incluso in src/admin_scripts.php schermata plugins 
*/

.fattura24-f24-modal-mask{
    position: fixed;
    background-color: rgba(17,30,60,0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: scroll;
    transition: opacity 250ms ease-in-out;
}
.fattura24-f24-modal-mask{
    display: none;
}
.fattura24-modal .f24-modal-container{
    position: absolute;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    max-width: 960px;
    padding: 20px;
    animation: appear-down 250ms ease-in-out;
    border-radius: 15px;
}
.f24-model-header {
    padding: 21px;
}
.fattura24-modal .f24-model-header span {
    font-size: 18px;
    font-weight: bold;
}
.fattura24-modal .f24-model-header {
    padding: 21px;
    border-bottom: 1px solid #E7E7E7;

}
.fattura24-modal .f24-form-container {
    margin-left: 23px;
    clear: both;
}
.fattura24-modal .f24-deactivation-reason input {
    margin-right: 13px;
}
.fattura24-modal .fattura24-privacy-cnt {
    color: #919191;
    font-size: 12px;
    margin-bottom: 31px;
    margin-top: 18px;
    max-width: 75%;
}
.fattura24-modal .f24-deactivation-reason li {
    margin-bottom: 17px;
}
.fattura24-modal .f24-modal-footer {
    padding: 20px;
    border-top: 1px solid #E7E7E7;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.fattura24-left {
    float: left;
}
.fattura24-right {
    float: right;
}
.fattura24-link {
    line-height: 31px;
    font-size: 12px;
}
.fattura24-left-link {
    font-style: italic;
}
.fattura24-right-link {
    padding: 0px 20px;
    border: 1px solid;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}
.fattura24-right-link.fattura24-active {
    background: #0773AC;
    color: #fff;
}
.fattura24-title-text {
    color: #2F2F2F;
    font-weight: 500;
    font-size: 15px;
}
.f24-reason-input {
    margin-left: 31px;
    margin-top: 11px;
    width: 70%;
}
.f24-reason-input input {
    width: 100%;
    height: 40px;
}
.f24-reason-input textarea {
    width: 100%;
    min-height: 80px;
}

/* Version B */
.get-support-version-b {
    width: 100%;
    padding-left: 23px;
    clear: both;
    float: left;
    box-sizing: border-box;
    background: #0673ab;
    color: #fff;
    margin-bottom: 20px;
}
.get-support-version-b p {
    font-size: 12px;
    line-height: 17px;
    width: 70%;
    display: inline-block;
    margin: 0px;
    padding: 15px 0px;
}
.get-support-version-b .fattura24-right-link {
    background-repeat: no-repeat;
    background-position: 11px 10px;
    padding-left: 31px;
    color: #0773AC;
    background-color: #fff;
    float: right;
    margin-top: 17px;
    margin-right: 20px;
}
.fattura24-privacy-link {
    font-style: italic;
}

.fattura24-review-and-deactivate {
    text-decoration: none;
}