/**
* Foglio di stile personalizzato con cui personalizzo lo stile del popup di disattivazione
* incluso in src/admin_scripts.php schermata payment_types
*/

.fatt-24-gateway-id {
    display: inline-block; 
    width: 100%; 
    max-width: 200px;
    word-wrap: break-word;
}

.wp-list-table .column-action {
    width: 60px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
}

.wp-list-table .column-action .button {
    display: inline-block;
    margin: 0 auto;
    padding: 0 5px;
    vertical-align: middle;
}

.wp-list-table tr {
    height: 50px;  
}

.wp-list-table td {
    padding-left: 1%;
    vertical-align: middle;
}

.wp-list-table .check-column input[type="checkbox"] {
    margin-top: 5px !important;
}

.wp-list-table thead .check-column input[type="checkbox"] {
    margin-top: -5px !important;
    vertical-align: middle;
}