/**
* Foglio di stile personalizzato con cui personalizzo lo stile del popup di disattivazione
* incluso in src/admin_scripts.php schermata products
*/

.fatt-24-tablenav .actions select {
    max-width: unset;
}

.fatt-24-hidden {
    display: none !important;
}

.fatt-24-main-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start;
}

.fatt-24-child-container {
    flex: 1;
}

.fatt-24-infobox {
    width: 250px; 
    margin-left: 20px;
}

.fatt-24-default-values-wrapper {
    margin-top: 20px; 
    margin-bottom: 20px;
}

.fatt-24-h3-wrapper {
    margin-top: 4%;
}

.fatt-24-select-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.fatt-24-select-container label {
    margin-right: 10px;
    min-width: 80px;
}

.fatt-24-select-container select {
    width: 100%;
    margin-right: 8px;
}

.fatt-24-custom-select {
    flex: 1;
}

.fatt-24-products-cb {
    background-color: #f9f9f9;
}

.fatt-24-instructions-wrapper {
    margin-top: 20px;
}

.fatt-24-instruction-content {
    font-size:120%; padding-bottom: 10px;
}

.fatt-24-products .wp-list-table .column-action {
    width: 60px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
}

.fatt-24-products .wp-list-table .column-action .button {
    display: inline-block;
    margin: 0 auto;
    padding: 0 5px;
    vertical-align: middle;
}

.fatt-24-products .wp-list-table td, .wp-list-table th {
    padding: 8px 5px;
}

.fatt-24-products .wp-list-table tr {
    height: 50px;  
}

.fatt-24-products .wp-list-table tbody td {
    vertical-align: middle;
}

.fatt-24-products .wp-list-table tbody .check-column {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.fatt-24-products .wp-list-table tbody .check-column input[type="checkbox"],
.fatt-24-products .wp-list-table tfoot .check-column input[type="checkbox"] {
    margin-top: 0 !important;
}

.fatt-24-products .wp-list-table thead .check-column {
    vertical-align: middle;
}

.fatt-24-products .wp-list-table thead .check-column input[type="checkbox"] {
    margin-top: -5px !important;
    vertical-align: middle;
}

.fatt-24-products .wp-list-table tfoot td {
    vertical-align: middle;
}