
/**
* Foglio di stile personalizzato con cui sovrascrivo gli attributi dei campi di input nel checkout
* dell'ordine
* incluso in src/admin_scripts.php tutte le schermate admin
*/

.fattura24::before {
    content: "" !important;
    display: unset !important;
}

.fattura24::after {
    content: "" !important;
    display: unset !important;
}

.fattura24 {
  clear: initial !important;
}

.tablecell {
  display: table-cell;
}

.dashicons-update.spin {
   animation: rotation 2s infinite linear;
}