/**
* Foglio di stile personalizzato con cui personalizzo lo stile del popup di disattivazione
* incluso in src/admin_scripts.php schermata tickets
*/

/* Contenitore principale */
.fatt24-form-container {
  display: flex;
  justify-content: space-between; /* Allinea i contenuti orizzontalmente */
}

/* Contenuto del modulo */
.fatt24-form-content {
  flex: 1; /* Occupa tutto lo spazio disponibile a sinistra */
  margin-right: 1rem; /* Spazio tra il modulo e l'infobox */
}

/* Infobox */
.fatt24-infobox {
  width: 20%; /* Imposta la larghezza dell'infobox */
}

/* Box di avviso */
.fatt24-notice-box {
  background-color: #ffc;
  border: 1px solid #ccd0d4;
  padding: 15px;
  border-radius: 7px;
  font-size: 15px;
}

/* Testo del box di avviso */
.fatt24-notice-text {
  font-size: 120%;
  text-align: justify;
}

/* Allineamento e margine inferiore del box di avviso */
.fatt24-notice-box h4 {
  text-align: center;
  margin: 0;
  padding: 5px;
}

/* Spazio aggiuntivo tra l'etichetta e il campo */
.fatt24-form-group {
  display: flex;
  flex-direction: row; /* Mantieni la disposizione orizzontale */
  align-items: center; /* Allinea gli elementi verticalmente al centro */
  margin-bottom: 1.5rem; /* Aumenta lo spazio tra i gruppi di campi */
}

.fatt24-form-group label {
  flex: 1; /* Occupare una parte dell'area disponibile per l'etichetta */
  margin-right: 1rem; /* Aggiungi spazio tra l'etichetta e il campo */
  white-space: nowrap; /* Evita che l'etichetta vada su più righe */
}

.fatt24-form-group input,
.fatt24-form-group textarea {
  flex: 8; /* Occupare la restante parte dell'area disponibile per i campi di input */
  width: 100%; /* Assicura che l'input e la textarea si estendano a tutta la larghezza disponibile */
  box-sizing: border-box; /* Include padding e border nella larghezza totale */
}

/* Gestisci l'allineamento del pulsante e la disposizione del messaggio */
.fatt24-form-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem; /* Aggiungi margine superiore per distanziare dal contenuto sopra */
}

.fatt24-form-actions .message {
  margin-left: 1rem; /* Mantieni un margine a sinistra per il messaggio */
}

.fatt24-form-actions input[type="submit"] {
  margin-right: 1rem; /* Distanza tra il pulsante e il messaggio */
}
