.wp-block-fattura24-billing-block-fattura24-checkout-block {
	margin: 20px 0;
	padding-top: 4px;
	padding-bottom: 4px;
	display: flex;
	align-items: flex-start;

	.block-editor-rich-text__editable {
		vertical-align: middle;
		line-height: 24px;
	}

	.wc-block-components-checkbox {
		margin-right: 16px;
		margin-top: 0;
	}
}

.editor-styles-wrapper {

	.wp-block-fattura24-billing-block-fattura24-checkout-block {
		.wc-block-components-checkbox {
			margin-right: 0;
			margin-top: 0;
		}
	}
}
